@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
img {
  max-height: 100%;
}

input, textarea, select {
  @apply border-2 border-gray-300 rounded-md px-2 py-1 w-full;
  @apply mb-2;
}
input:focus, textarea:focus, select:focus {
  @apply border-green-900 outline-none;
}

label {
  @apply text-green-900;
}

h1 {
  @apply text-green-900 mb-2 text-2xl font-medium;
}

.btn-primary {
  @apply bg-green-900 text-white px-4 py-1 rounded-md;
}
.btn-default{
  @apply bg-gray-300 px-3 py-1 rounded-md text-green-900 font-semibold;
}

table.basic {
  @apply w-full
}
table.basic thead tr td {
  @apply bg-green-300 ;
}
table.basic tr td {
  @apply border border-green-300 p-1 ;
}
table.basic a {
  @apply bg-green-900 text-white text-sm py-1 px-2 rounded-md inline-flex gap-2 mr-1;
}
.react-sortable {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}