/* css file with custom tailwind classes */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
.myScrollbar {
  @apply scrollbar-thin scrollbar-thumb-green-900 scrollbar-track-transparent;
  scrollbar-width: thin;
}

.myScrollbar:hover {
  scrollbar-color: #065f46 transparent; /* Dark green thumb, transparent track */
}

@layer utilities {
  .myScrollbar::-webkit-scrollbar {
    height: 80px;
  }
  .myScrollbar::-webkit-scrollbar-thumb {
    border-radius: 9999px;
    background-color: #065f46;
  }
  .myScrollbar::-webkit-scrollbar-track {
    border-radius: 9999px;
    background: transparent;
  }
  .myScrollbar::-webkit-scrollbar-button {
    display: none;
  }
}


body {
  @apply bg-green-900;
  font-family: Arial, Helvetica, sans-serif;
}
img {
  max-height: 100%;
}

input, textarea, select {
  @apply border border-gray-300 rounded-md px-2 py-1 w-full;
  @apply mb-2;
}
input:focus, textarea:focus, select:focus {
  @apply border-green-900 outline-none;
}

label {
  @apply text-green-900 px-1;
}

h1 {
  @apply text-green-900 mb-2 text-2xl font-bold font-mono text-center;
}

.btn-primary {
  @apply bg-green-900 text-white px-4 py-1 rounded-md;
}
.btn-default{
  @apply bg-green-300 px-3 py-1 rounded-md text-green-900 font-semibold;
}

table.basic {
  @apply w-full mt-2 border-collapse align-top overflow-hidden border border-green-600 shadow-green-400 shadow-inner;
  border-spacing: 0;
}
table.basic thead tr td {
  @apply bg-green-300 uppercase text-green-900 font-bold;
}
table.basic tr td {
  @apply border border-green-500 p-1 border-collapse;
}
table.basic a, .actionBtn{
  @apply bg-green-900 text-white text-sm py-1 px-2 rounded-md inline-flex gap-2 mr-1;
} 